<svg width="828" height="128">
    <g transform="translate(10, 20)">
        <g transform="translate(0, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="16" y="75" rx="2" ry="2" data-date="2021-01-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="16" y="90" rx="2" ry="2" data-date="2021-01-02"/>
        </g>
        <g transform="translate(16, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="0" rx="2" ry="2" data-date="2021-01-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="15" rx="2" ry="2" data-date="2021-01-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="30" rx="2" ry="2" data-date="2021-01-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="45" rx="2" ry="2" data-date="2021-01-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="60" rx="2" ry="2" data-date="2021-01-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="75" rx="2" ry="2" data-date="2021-01-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="15" y="90" rx="2" ry="2" data-date="2021-01-09"/>
        </g>
        <g transform="translate(32, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="0" rx="2" ry="2" data-date="2021-01-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="15" rx="2" ry="2" data-date="2021-01-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="30" rx="2" ry="2" data-date="2021-01-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="45" rx="2" ry="2" data-date="2021-01-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="60" rx="2" ry="2" data-date="2021-01-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="75" rx="2" ry="2" data-date="2021-01-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="14" y="90" rx="2" ry="2" data-date="2021-01-16"/>
        </g>
        <g transform="translate(48, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="0" rx="2" ry="2" data-date="2021-01-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="15" rx="2" ry="2" data-date="2021-01-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="30" rx="2" ry="2" data-date="2021-01-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="45" rx="2" ry="2" data-date="2021-01-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="60" rx="2" ry="2" data-date="2021-01-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="75" rx="2" ry="2" data-date="2021-01-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="13" y="90" rx="2" ry="2" data-date="2021-01-23"/>
        </g>
        <g transform="translate(64, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="0" rx="2" ry="2" data-date="2021-01-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="15" rx="2" ry="2" data-date="2021-01-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="30" rx="2" ry="2" data-date="2021-01-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="45" rx="2" ry="2" data-date="2021-01-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="60" rx="2" ry="2" data-date="2021-01-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="75" rx="2" ry="2" data-date="2021-01-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="12" y="90" rx="2" ry="2" data-date="2021-01-30"/>
        </g>
        <g transform="translate(80, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="0" rx="2" ry="2" data-date="2021-01-31"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="15" rx="2" ry="2" data-date="2021-02-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="30" rx="2" ry="2" data-date="2021-02-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="45" rx="2" ry="2" data-date="2021-02-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="60" rx="2" ry="2" data-date="2021-02-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="75" rx="2" ry="2" data-date="2021-02-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="11" y="90" rx="2" ry="2" data-date="2021-02-06"/>
        </g>
        <g transform="translate(96, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="0" rx="2" ry="2" data-date="2021-02-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="15" rx="2" ry="2" data-date="2021-02-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="30" rx="2" ry="2" data-date="2021-02-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="45" rx="2" ry="2" data-date="2021-02-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="60" rx="2" ry="2" data-date="2021-02-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="75" rx="2" ry="2" data-date="2021-02-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="10" y="90" rx="2" ry="2" data-date="2021-02-13"/>
        </g>
        <g transform="translate(112, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="0" rx="2" ry="2" data-date="2021-02-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="15" rx="2" ry="2" data-date="2021-02-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="30" rx="2" ry="2" data-date="2021-02-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="45" rx="2" ry="2" data-date="2021-02-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="60" rx="2" ry="2" data-date="2021-02-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="75" rx="2" ry="2" data-date="2021-02-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="9" y="90" rx="2" ry="2" data-date="2021-02-20"/>
        </g>
        <g transform="translate(128, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="0" rx="2" ry="2" data-date="2021-02-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="15" rx="2" ry="2" data-date="2021-02-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="30" rx="2" ry="2" data-date="2021-02-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="45" rx="2" ry="2" data-date="2021-02-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="60" rx="2" ry="2" data-date="2021-02-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="75" rx="2" ry="2" data-date="2021-02-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="8" y="90" rx="2" ry="2" data-date="2021-02-27"/>
        </g>
        <g transform="translate(144, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="0" rx="2" ry="2" data-date="2021-02-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="15" rx="2" ry="2" data-date="2021-03-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="30" rx="2" ry="2" data-date="2021-03-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="45" rx="2" ry="2" data-date="2021-03-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="60" rx="2" ry="2" data-date="2021-03-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="75" rx="2" ry="2" data-date="2021-03-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="7" y="90" rx="2" ry="2" data-date="2021-03-06"/>
        </g>
        <g transform="translate(160, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="0" rx="2" ry="2" data-date="2021-03-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="15" rx="2" ry="2" data-date="2021-03-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="30" rx="2" ry="2" data-date="2021-03-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="45" rx="2" ry="2" data-date="2021-03-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="60" rx="2" ry="2" data-date="2021-03-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="75" rx="2" ry="2" data-date="2021-03-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="6" y="90" rx="2" ry="2" data-date="2021-03-13"/>
        </g>
        <g transform="translate(176, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="0" rx="2" ry="2" data-date="2021-03-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="15" rx="2" ry="2" data-date="2021-03-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="30" rx="2" ry="2" data-date="2021-03-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="45" rx="2" ry="2" data-date="2021-03-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="60" rx="2" ry="2" data-date="2021-03-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="75" rx="2" ry="2" data-date="2021-03-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="5" y="90" rx="2" ry="2" data-date="2021-03-20"/>
        </g>
        <g transform="translate(192, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="0" rx="2" ry="2" data-date="2021-03-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="15" rx="2" ry="2" data-date="2021-03-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="30" rx="2" ry="2" data-date="2021-03-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="45" rx="2" ry="2" data-date="2021-03-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="60" rx="2" ry="2" data-date="2021-03-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="75" rx="2" ry="2" data-date="2021-03-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="4" y="90" rx="2" ry="2" data-date="2021-03-27"/>
        </g>
        <g transform="translate(208, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="0" rx="2" ry="2" data-date="2021-03-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="15" rx="2" ry="2" data-date="2021-03-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="30" rx="2" ry="2" data-date="2021-03-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="45" rx="2" ry="2" data-date="2021-03-31"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="60" rx="2" ry="2" data-date="2021-04-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="75" rx="2" ry="2" data-date="2021-04-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="3" y="90" rx="2" ry="2" data-date="2021-04-03"/>
        </g>
        <g transform="translate(224, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="0" rx="2" ry="2" data-date="2021-04-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="15" rx="2" ry="2" data-date="2021-04-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="30" rx="2" ry="2" data-date="2021-04-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="45" rx="2" ry="2" data-date="2021-04-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="60" rx="2" ry="2" data-date="2021-04-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="75" rx="2" ry="2" data-date="2021-04-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="2" y="90" rx="2" ry="2" data-date="2021-04-10"/>
        </g>
        <g transform="translate(240, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="0" rx="2" ry="2" data-date="2021-04-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="15" rx="2" ry="2" data-date="2021-04-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="30" rx="2" ry="2" data-date="2021-04-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="45" rx="2" ry="2" data-date="2021-04-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="60" rx="2" ry="2" data-date="2021-04-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="75" rx="2" ry="2" data-date="2021-04-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="1" y="90" rx="2" ry="2" data-date="2021-04-17"/>
        </g>
        <g transform="translate(256, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="0" rx="2" ry="2" data-date="2021-04-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="15" rx="2" ry="2" data-date="2021-04-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="30" rx="2" ry="2" data-date="2021-04-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="45" rx="2" ry="2" data-date="2021-04-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="60" rx="2" ry="2" data-date="2021-04-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="75" rx="2" ry="2" data-date="2021-04-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="0" y="90" rx="2" ry="2" data-date="2021-04-24"/>
        </g>
        <g transform="translate(272, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="0" rx="2" ry="2" data-date="2021-04-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="15" rx="2" ry="2" data-date="2021-04-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="30" rx="2" ry="2" data-date="2021-04-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="45" rx="2" ry="2" data-date="2021-04-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="60" rx="2" ry="2" data-date="2021-04-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="75" rx="2" ry="2" data-date="2021-04-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-1" y="90" rx="2" ry="2" data-date="2021-05-01"/>
        </g>
        <g transform="translate(288, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="0" rx="2" ry="2" data-date="2021-05-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="15" rx="2" ry="2" data-date="2021-05-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="30" rx="2" ry="2" data-date="2021-05-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="45" rx="2" ry="2" data-date="2021-05-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="60" rx="2" ry="2" data-date="2021-05-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="75" rx="2" ry="2" data-date="2021-05-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-2" y="90" rx="2" ry="2" data-date="2021-05-08"/>
        </g>
        <g transform="translate(304, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="0" rx="2" ry="2" data-date="2021-05-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="15" rx="2" ry="2" data-date="2021-05-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="30" rx="2" ry="2" data-date="2021-05-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="45" rx="2" ry="2" data-date="2021-05-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="60" rx="2" ry="2" data-date="2021-05-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="75" rx="2" ry="2" data-date="2021-05-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-3" y="90" rx="2" ry="2" data-date="2021-05-15"/>
        </g>
        <g transform="translate(320, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="0" rx="2" ry="2" data-date="2021-05-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="15" rx="2" ry="2" data-date="2021-05-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="30" rx="2" ry="2" data-date="2021-05-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="45" rx="2" ry="2" data-date="2021-05-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="60" rx="2" ry="2" data-date="2021-05-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="75" rx="2" ry="2" data-date="2021-05-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-4" y="90" rx="2" ry="2" data-date="2021-05-22"/>
        </g>
        <g transform="translate(336, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="0" rx="2" ry="2" data-date="2021-05-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="15" rx="2" ry="2" data-date="2021-05-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="30" rx="2" ry="2" data-date="2021-05-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="45" rx="2" ry="2" data-date="2021-05-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="60" rx="2" ry="2" data-date="2021-05-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="75" rx="2" ry="2" data-date="2021-05-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-5" y="90" rx="2" ry="2" data-date="2021-05-29"/>
        </g>
        <g transform="translate(352, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="0" rx="2" ry="2" data-date="2021-05-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="15" rx="2" ry="2" data-date="2021-05-31"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="30" rx="2" ry="2" data-date="2021-06-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="45" rx="2" ry="2" data-date="2021-06-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="60" rx="2" ry="2" data-date="2021-06-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="75" rx="2" ry="2" data-date="2021-06-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-6" y="90" rx="2" ry="2" data-date="2021-06-05"/>
        </g>
        <g transform="translate(368, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="0" rx="2" ry="2" data-date="2021-06-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="15" rx="2" ry="2" data-date="2021-06-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="30" rx="2" ry="2" data-date="2021-06-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="45" rx="2" ry="2" data-date="2021-06-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="60" rx="2" ry="2" data-date="2021-06-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="75" rx="2" ry="2" data-date="2021-06-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-7" y="90" rx="2" ry="2" data-date="2021-06-12"/>
        </g>
        <g transform="translate(384, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="0" rx="2" ry="2" data-date="2021-06-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="15" rx="2" ry="2" data-date="2021-06-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="30" rx="2" ry="2" data-date="2021-06-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="45" rx="2" ry="2" data-date="2021-06-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="60" rx="2" ry="2" data-date="2021-06-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="75" rx="2" ry="2" data-date="2021-06-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-8" y="90" rx="2" ry="2" data-date="2021-06-19"/>
        </g>
        <g transform="translate(400, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="0" rx="2" ry="2" data-date="2021-06-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="15" rx="2" ry="2" data-date="2021-06-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="30" rx="2" ry="2" data-date="2021-06-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="45" rx="2" ry="2" data-date="2021-06-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="60" rx="2" ry="2" data-date="2021-06-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="75" rx="2" ry="2" data-date="2021-06-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-9" y="90" rx="2" ry="2" data-date="2021-06-26"/>
        </g>
        <g transform="translate(416, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="0" rx="2" ry="2" data-date="2021-06-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="15" rx="2" ry="2" data-date="2021-06-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="30" rx="2" ry="2" data-date="2021-06-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="45" rx="2" ry="2" data-date="2021-06-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="60" rx="2" ry="2" data-date="2021-07-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="75" rx="2" ry="2" data-date="2021-07-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-10" y="90" rx="2" ry="2" data-date="2021-07-03"/>
        </g>
        <g transform="translate(432, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-11" y="0" rx="2" ry="2" data-date="2021-07-04"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-11" y="15" rx="2" ry="2" data-date="2021-07-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-11" y="30" rx="2" ry="2" data-date="2021-07-06"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-11" y="45" rx="2" ry="2" data-date="2021-07-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-11" y="60" rx="2" ry="2" data-date="2021-07-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-11" y="75" rx="2" ry="2" data-date="2021-07-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-11" y="90" rx="2" ry="2" data-date="2021-07-10"/>
        </g>
        <g transform="translate(448, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-12" y="0" rx="2" ry="2" data-date="2021-07-11"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-12" y="15" rx="2" ry="2" data-date="2021-07-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-12" y="30" rx="2" ry="2" data-date="2021-07-13"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-12" y="45" rx="2" ry="2" data-date="2021-07-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-12" y="60" rx="2" ry="2" data-date="2021-07-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-12" y="75" rx="2" ry="2" data-date="2021-07-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-12" y="90" rx="2" ry="2" data-date="2021-07-17"/>
        </g>
        <g transform="translate(464, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-13" y="0" rx="2" ry="2" data-date="2021-07-18"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-13" y="15" rx="2" ry="2" data-date="2021-07-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-13" y="30" rx="2" ry="2" data-date="2021-07-20"/>
            <rect class="calendar-day-color-L3" width="11" height="11" x="-13" y="45" rx="2" ry="2" data-date="2021-07-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-13" y="60" rx="2" ry="2" data-date="2021-07-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-13" y="75" rx="2" ry="2" data-date="2021-07-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-13" y="90" rx="2" ry="2" data-date="2021-07-24"/>
        </g>
        <g transform="translate(480, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="0" rx="2" ry="2" data-date="2021-07-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="15" rx="2" ry="2" data-date="2021-07-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="30" rx="2" ry="2" data-date="2021-07-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="45" rx="2" ry="2" data-date="2021-07-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="60" rx="2" ry="2" data-date="2021-07-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="75" rx="2" ry="2" data-date="2021-07-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-14" y="90" rx="2" ry="2" data-date="2021-07-31"/>
        </g>
        <g transform="translate(496, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="0" rx="2" ry="2" data-date="2021-08-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="15" rx="2" ry="2" data-date="2021-08-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="30" rx="2" ry="2" data-date="2021-08-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="45" rx="2" ry="2" data-date="2021-08-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="60" rx="2" ry="2" data-date="2021-08-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="75" rx="2" ry="2" data-date="2021-08-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-15" y="90" rx="2" ry="2" data-date="2021-08-07"/>
        </g>
        <g transform="translate(512, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="0" rx="2" ry="2" data-date="2021-08-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="15" rx="2" ry="2" data-date="2021-08-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="30" rx="2" ry="2" data-date="2021-08-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="45" rx="2" ry="2" data-date="2021-08-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="60" rx="2" ry="2" data-date="2021-08-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="75" rx="2" ry="2" data-date="2021-08-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-16" y="90" rx="2" ry="2" data-date="2021-08-14"/>
        </g>
        <g transform="translate(528, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="0" rx="2" ry="2" data-date="2021-08-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="15" rx="2" ry="2" data-date="2021-08-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="30" rx="2" ry="2" data-date="2021-08-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="45" rx="2" ry="2" data-date="2021-08-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="60" rx="2" ry="2" data-date="2021-08-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="75" rx="2" ry="2" data-date="2021-08-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-17" y="90" rx="2" ry="2" data-date="2021-08-21"/>
        </g>
        <g transform="translate(544, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="0" rx="2" ry="2" data-date="2021-08-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="15" rx="2" ry="2" data-date="2021-08-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="30" rx="2" ry="2" data-date="2021-08-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="45" rx="2" ry="2" data-date="2021-08-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="60" rx="2" ry="2" data-date="2021-08-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="75" rx="2" ry="2" data-date="2021-08-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-18" y="90" rx="2" ry="2" data-date="2021-08-28"/>
        </g>
        <g transform="translate(560, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="0" rx="2" ry="2" data-date="2021-08-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="15" rx="2" ry="2" data-date="2021-08-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="30" rx="2" ry="2" data-date="2021-08-31"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="45" rx="2" ry="2" data-date="2021-09-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="60" rx="2" ry="2" data-date="2021-09-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="75" rx="2" ry="2" data-date="2021-09-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-19" y="90" rx="2" ry="2" data-date="2021-09-04"/>
        </g>
        <g transform="translate(576, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="0" rx="2" ry="2" data-date="2021-09-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="15" rx="2" ry="2" data-date="2021-09-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="30" rx="2" ry="2" data-date="2021-09-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="45" rx="2" ry="2" data-date="2021-09-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="60" rx="2" ry="2" data-date="2021-09-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="75" rx="2" ry="2" data-date="2021-09-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-20" y="90" rx="2" ry="2" data-date="2021-09-11"/>
        </g>
        <g transform="translate(592, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="0" rx="2" ry="2" data-date="2021-09-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="15" rx="2" ry="2" data-date="2021-09-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="30" rx="2" ry="2" data-date="2021-09-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="45" rx="2" ry="2" data-date="2021-09-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="60" rx="2" ry="2" data-date="2021-09-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="75" rx="2" ry="2" data-date="2021-09-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-21" y="90" rx="2" ry="2" data-date="2021-09-18"/>
        </g>
        <g transform="translate(608, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="0" rx="2" ry="2" data-date="2021-09-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="15" rx="2" ry="2" data-date="2021-09-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="30" rx="2" ry="2" data-date="2021-09-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="45" rx="2" ry="2" data-date="2021-09-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="60" rx="2" ry="2" data-date="2021-09-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="75" rx="2" ry="2" data-date="2021-09-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-22" y="90" rx="2" ry="2" data-date="2021-09-25"/>
        </g>
        <g transform="translate(624, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="0" rx="2" ry="2" data-date="2021-09-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="15" rx="2" ry="2" data-date="2021-09-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="30" rx="2" ry="2" data-date="2021-09-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="45" rx="2" ry="2" data-date="2021-09-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="60" rx="2" ry="2" data-date="2021-09-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="75" rx="2" ry="2" data-date="2021-10-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-23" y="90" rx="2" ry="2" data-date="2021-10-02"/>
        </g>
        <g transform="translate(640, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="0" rx="2" ry="2" data-date="2021-10-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="15" rx="2" ry="2" data-date="2021-10-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="30" rx="2" ry="2" data-date="2021-10-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="45" rx="2" ry="2" data-date="2021-10-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="60" rx="2" ry="2" data-date="2021-10-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="75" rx="2" ry="2" data-date="2021-10-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-24" y="90" rx="2" ry="2" data-date="2021-10-09"/>
        </g>
        <g transform="translate(656, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="0" rx="2" ry="2" data-date="2021-10-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="15" rx="2" ry="2" data-date="2021-10-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="30" rx="2" ry="2" data-date="2021-10-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="45" rx="2" ry="2" data-date="2021-10-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="60" rx="2" ry="2" data-date="2021-10-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="75" rx="2" ry="2" data-date="2021-10-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-25" y="90" rx="2" ry="2" data-date="2021-10-16"/>
        </g>
        <g transform="translate(672, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="0" rx="2" ry="2" data-date="2021-10-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="15" rx="2" ry="2" data-date="2021-10-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="30" rx="2" ry="2" data-date="2021-10-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="45" rx="2" ry="2" data-date="2021-10-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="60" rx="2" ry="2" data-date="2021-10-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="75" rx="2" ry="2" data-date="2021-10-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-26" y="90" rx="2" ry="2" data-date="2021-10-23"/>
        </g>
        <g transform="translate(688, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="0" rx="2" ry="2" data-date="2021-10-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="15" rx="2" ry="2" data-date="2021-10-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="30" rx="2" ry="2" data-date="2021-10-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="45" rx="2" ry="2" data-date="2021-10-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="60" rx="2" ry="2" data-date="2021-10-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="75" rx="2" ry="2" data-date="2021-10-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-27" y="90" rx="2" ry="2" data-date="2021-10-30"/>
        </g>
        <g transform="translate(704, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="0" rx="2" ry="2" data-date="2021-10-31"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="15" rx="2" ry="2" data-date="2021-11-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="30" rx="2" ry="2" data-date="2021-11-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="45" rx="2" ry="2" data-date="2021-11-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="60" rx="2" ry="2" data-date="2021-11-04"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="75" rx="2" ry="2" data-date="2021-11-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-28" y="90" rx="2" ry="2" data-date="2021-11-06"/>
        </g>
        <g transform="translate(720, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="0" rx="2" ry="2" data-date="2021-11-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="15" rx="2" ry="2" data-date="2021-11-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="30" rx="2" ry="2" data-date="2021-11-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="45" rx="2" ry="2" data-date="2021-11-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="60" rx="2" ry="2" data-date="2021-11-11"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="75" rx="2" ry="2" data-date="2021-11-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-29" y="90" rx="2" ry="2" data-date="2021-11-13"/>
        </g>
        <g transform="translate(736, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="0" rx="2" ry="2" data-date="2021-11-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="15" rx="2" ry="2" data-date="2021-11-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="30" rx="2" ry="2" data-date="2021-11-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="45" rx="2" ry="2" data-date="2021-11-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="60" rx="2" ry="2" data-date="2021-11-18"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="75" rx="2" ry="2" data-date="2021-11-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-30" y="90" rx="2" ry="2" data-date="2021-11-20"/>
        </g>
        <g transform="translate(752, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="0" rx="2" ry="2" data-date="2021-11-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="15" rx="2" ry="2" data-date="2021-11-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="30" rx="2" ry="2" data-date="2021-11-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="45" rx="2" ry="2" data-date="2021-11-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="60" rx="2" ry="2" data-date="2021-11-25"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="75" rx="2" ry="2" data-date="2021-11-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-31" y="90" rx="2" ry="2" data-date="2021-11-27"/>
        </g>
        <g transform="translate(768, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="0" rx="2" ry="2" data-date="2021-11-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="15" rx="2" ry="2" data-date="2021-11-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="30" rx="2" ry="2" data-date="2021-11-30"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="45" rx="2" ry="2" data-date="2021-12-01"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="60" rx="2" ry="2" data-date="2021-12-02"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="75" rx="2" ry="2" data-date="2021-12-03"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-32" y="90" rx="2" ry="2" data-date="2021-12-04"/>
        </g>
        <g transform="translate(784, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="0" rx="2" ry="2" data-date="2021-12-05"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="15" rx="2" ry="2" data-date="2021-12-06"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="30" rx="2" ry="2" data-date="2021-12-07"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="45" rx="2" ry="2" data-date="2021-12-08"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="60" rx="2" ry="2" data-date="2021-12-09"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="75" rx="2" ry="2" data-date="2021-12-10"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-33" y="90" rx="2" ry="2" data-date="2021-12-11"/>
        </g>
        <g transform="translate(800, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="0" rx="2" ry="2" data-date="2021-12-12"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="15" rx="2" ry="2" data-date="2021-12-13"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="30" rx="2" ry="2" data-date="2021-12-14"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="45" rx="2" ry="2" data-date="2021-12-15"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="60" rx="2" ry="2" data-date="2021-12-16"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="75" rx="2" ry="2" data-date="2021-12-17"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-34" y="90" rx="2" ry="2" data-date="2021-12-18"/>
        </g>
        <g transform="translate(816, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="0" rx="2" ry="2" data-date="2021-12-19"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="15" rx="2" ry="2" data-date="2021-12-20"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="30" rx="2" ry="2" data-date="2021-12-21"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="45" rx="2" ry="2" data-date="2021-12-22"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="60" rx="2" ry="2" data-date="2021-12-23"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="75" rx="2" ry="2" data-date="2021-12-24"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-35" y="90" rx="2" ry="2" data-date="2021-12-25"/>
        </g>
        <g transform="translate(832, 0)">
            <rect class="calendar-day-color-L0" width="11" height="11" x="-36" y="0" rx="2" ry="2" data-date="2021-12-26"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-36" y="15" rx="2" ry="2" data-date="2021-12-27"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-36" y="30" rx="2" ry="2" data-date="2021-12-28"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-36" y="45" rx="2" ry="2" data-date="2021-12-29"/>
            <rect class="calendar-day-color-L0" width="11" height="11" x="-36" y="60" rx="2" ry="2" data-date="2021-12-30"/>
        </g>
        <text class="calendar-label-month" x="16" y="-8">Jan</text>
        <text class="calendar-label-month" x="106" y="-8">Feb</text>
        <text class="calendar-label-month" x="166" y="-8">Mar</text>
        <text class="calendar-label-month" x="226" y="-8">Apr</text>
        <text class="calendar-label-month" x="286" y="-8">May</text>
        <text class="calendar-label-month" x="361" y="-8">Jun</text>
        <text class="calendar-label-month" x="421" y="-8">Jul</text>
        <text class="calendar-label-month" x="481" y="-8">Aug</text>
        <text class="calendar-label-month" x="556" y="-8">Sep</text>
        <text class="calendar-label-month" x="616" y="-8">Oct</text>
        <text class="calendar-label-month" x="691" y="-8">Nov</text>
        <text class="calendar-label-month" x="751" y="-8">Dec</text>
        <text class="calendar-label-month" dx="-10" dy="25" text-anchor="start">Mon</text>
        <text class="calendar-label-month" dx="-10" dy="56" text-anchor="start">Wed</text>
        <text class="calendar-label-month" dx="-10" dy="85" text-anchor="start">Fri</text>
    </g>
</svg>